{% include 'layout.html' %}

<div class="container mt-5">
  <h3>
    Add input to generate images from a personal chatbot
  </h3>
  <form action="/image" method="POST">
    <div>
      <textarea class="form-control" placeholder="Add input here" name="user_input" rows="3"></textarea>
      <button style="background-color: black; color: white;" class="btn mt-1" type="submit">Send</button>
    </div>
  </form>

  <br>
  <br>

  <div>
    <div class="card mt-3">
      <div class="card-header">
        Generated Image
      </div>
      <div class="card-body">
        <div>

          {% if image_url %}
          
          <img src="{{image_url}}" alt="image">

          {% else %}

          

          {% endif %}

        </div>
      </div>
    </div>
  </div>

</div>